@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir'), url('../font/AvenirNextLTPro-Regular.otf') format('otf');
}

.text-uppercase{
    text-transform: uppercase;
}